.calcourse-container {
  right: 5px;
  display: flex;
  flex: 1 1 auto;
  border-radius: 3px;
  position: absolute;
  flex-flow: column nowrap;
  width: calc(100% - 55px);
  border: 1px solid rgba(145, 170, 157, 0.5);
  background-color: rgba(145, 170, 157, 0.03);

  &:hover {
    border: 1px solid rgba(145, 170, 157, 0.8);
  }
}

.calcourse-row {
  display: flex;
  flex: 0 0 auto;
  font-size: 0.9em;
  align-items: center;
  padding: 2px 0 0 2px;
  justify-content: space-between;

  i.material-icons {
    font-size: 1.2em;
    margin-right: 5px;
  }
}

.calcourse-name {
  display: flex;
  font-size: 1em;
  align-items: center;
}
