.course-container {
  padding: 20px;
  font-size: 0.9em;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid rgba(139, 130, 134, 0.3);
  background-color: rgba(139, 130, 134, 0.03);

  &:hover {
    border: 1px solid rgba(139, 130, 134, 0.6);
  }
}

.course-name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.course-instructor, .course-time {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  margin-bottom: 20px;

  i.material-icons {
    font-size: 1.3em;
    margin-right: 5px;
  }
}

.course-actions {
  display: flex;
  margin-top: -10px;
  margin-bottom: 10px;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  i.material-icons {
    font-size: 1.4em;
    margin-bottom: 5px;
  }
}
