.time-container {
  display: flex;
  flex: 1 1 auto;
  height: 80px;
  font-size: 0.8em;
  align-items: center;
}

.time-slot {
  min-width: 30px;
  margin-right: 10px;
}

.time-divider {
  display: flex;
  flex: 1 1 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}
