.calendar-container {
  height: 100%;
  width: 300px;
  display: flex;
  flex: 0 0 auto;
  max-width: 300px;
  overflow: hidden;
  overflow-y: scroll;
  flex-flow: column nowrap;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.calendar-selector {
  display: flex;
  min-height: 20px;
  padding: 10px 2px;
  align-items: center;
  justify-content: space-between;
}

.calendar-today {
  display: flex;
  padding: 2px 5px;
  font-size: 0.7em;
  border-radius: 3px;
  align-items: center;
  border: 1px solid black;

  &:hover {
    cursor: pointer;
  }

  i.material-icons {
    font-size: 1.4em;
  }
}
