.day-container {
  display: flex;
  padding: 10px;
  flex: 1 1 auto;
  min-height: 50px;
  max-height: 60px;
  font-size: 0.9em;
  justify-content: center;
  flex-flow: column nowrap;
  border: 1px solid rgba(0, 0, 0, 0.05);

  &:hover {
    cursor: pointer;
    background-color: rgba(25, 52, 65, 0.03);
  }
}

.day-container--active {
  background-color: rgba(25, 52, 65, 0.04);
  border-right: 3px solid rgba(242, 56, 90, 1);
}

.day-courses {
  display: flex;
  align-items: center;

  i.material-icons {
    font-size: 1.2em;
    margin-right: 5px;
  }
}
