.coursera-container {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid rgba(63, 87, 101, 0.3);
  background-color: rgba(239, 239, 239, 0.03);

  &:hover {
    border: 1px solid rgba(63, 87, 101, 0.6);
  }
}
